:root {
  /* --background-gradient: linear-gradient(to right, #3a7bd5, #00d2ff); */

  /* --background-gradient: linear-gradient(to right,#00c6ff, #0072ff); */

  /* --background-gradient: linear-gradient(to right, #0052D4,#4364F7,#6FB1FC); */

  --background-gradient: linear-gradient(to right top, #292E49, #536976);

  /* --background-gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Catamaran", sans-serif;
  letter-spacing: 0.3px;
}



.container {
  display: flex;
  justify-content: space-between;
}


.left,
.right {
  width: 50%;
  height: 100vh;
  display: inline-block;
}



.left {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #efefef;
  text-align: center;
  overflow: hidden;
  position: relative;
  /* position: fixed; */
}


.left .picture {
  background: url('./images/wallpaper.png') no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.left .picture::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #00d2ff;
  background: var(--background-gradient);
  opacity: 0.75;
}

.left .left-content {
  padding: 20px;
  margin-top: 20%;
  color: white;
  z-index: 1000;
}

.left .left-content .title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.left .left-content .disc {
  font-size: 16px;
}

.left .left-content .social-media {
  margin-top: 20px;
}


.left .left-content .social-media a {
  padding-inline: 10px;
  font-size: 24px;
  color: white;
}


.right {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  overflow-x: hidden;
  position: relative;
}









.right .intro,
.right .skills,
.right .education,
.right .experience,
.right .projects {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 25px;
}

.right .intro .title,
.right .skills .title,
.right .education .title,
.right .experience .title,
.right .projects .title {
  min-width: 90px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background: var(--background-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.right .intro .content {
  text-align: justify;
  font-size: 16px;
  font-weight: 300;
}


.right .skills .skills-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.right .skills .skills-info p {
  font-weight: 300;
}

.right .skills .skills-info p strong {
  font-size: 14px;
  text-transform: uppercase;
}

/* EDUCATION SECTION */
.right .education .education-info .education-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right .education .education-info .education-header .education-title {
  font-weight: 800;
}


.right .education .education-info .education-header .education-date,
.right .experience .experience-info .experience-header .experience-date {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  color: #aaaaaa;
}


.right .education .education-info .education-section ul,
.right .experience .experience-info .experience-section ul,
.right .projects .projects-info .project ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  padding-left: 20px;
  font-weight: 300;
}


.right .experience .experience-info .experience-header {
  display: flex;
  justify-content: space-between;
}

.right .experience .experience-info .experience-header div .experience-title {
  font-weight: 800;
}


.right .experience .experience-info .experience-header div .experience-job {
  font-weight: 700;
  font-style: italic;
}

.right .projects .projects-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.right .projects .projects-info .project a {
  text-decoration: none;
  font-weight: 800;
  color: black;
}

.right .projects .projects-info .project a:hover {
  text-decoration: underline;
}


.right .projects .projects-info .project a i {
  font-size: 12px;
}


.right .projects .projects-info .project .links {
  display: flex;
  gap: 10px;
  margin-left: 20px;
}


.right .projects .projects-info .project .links div {
  background-color: #f1f1f1;
  margin-top: 10px;
}


.right .projects .projects-info .project .links div a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
  background: var(--background-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}















.resume {
  display: flex;
  margin: auto;
  width: 80%;
  padding-block: 5px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.resume .pdf {
  display: block;
  font-size: 20px;
  margin: auto;
  font-weight: 800;
  margin-inline: auto;
  text-transform: uppercase;
  background: var(--background-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}


@media (max-width:992px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .left {
    width: 100%;
  }



  .right {
    width: 100%;
    height: 100%;
    padding: 40px;
  }

}